/* Variables */
$color-main: #FFD700;
$color-hover: #d0ad00;
$color-light: #ffffff;
$color-medium: 	#A9A9A9;
$transition: all 1s;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
section {
    padding: 48px 0;
}
.section-title {
    font-size: 48px;
    font-style: bold;
    margin-bottom: 10px;
    text-align: center;
}
.section-subtitle {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 96px;
    text-align: center;
    color: $color-medium;
    font-style: italic;
}
.box {
    text-align: center;
}

/* Header */
.splash {
    background-image: url(https://images.pexels.com/photos/2599270/pexels-photo-2599270.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;    
}
.splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    color: $color-light;
}
.page-title{
    font-size: 72px;
    text-align: center;
}
.page-subtitle {
    font-size: 36px;
    margin: 0;  
}
.btn {
    background: $color-main;
    padding: 24px 72px;
    border-radius: 5px;
    text-decoration: none;
    color: $color-light;
    font-weight: 1000;
    &:hover {
        background: $color-hover;
        transition: $transition;
    }
}

/* Navigation */
.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 24px;
}
.navigation li {
    &:hover ul {
        display: block;
    }
}
.navigation a {
    text-decoration: none;
    color: $color-light;
    &:hover {
        color: $color-hover;
        transition: $transition;
    }
}
.navigation ul ul li {
    display: block; 
    padding: 12px 0;   
}
.navigation ul ul {
    display: none;
    position: absolute;
    padding: 12px 0;    
}
.nav-title {
    color: $color-main;
    font-size: 24px;
    font-style: italic;
    font-weight: 1000;
}
/* Services */
.services i {
    color: $color-main;
    font-size: 48px;
    border: 5px solid $color-main;
    border-radius: 50%;
    padding: 16px;
}
.services h5 {
    font-size: 28px;
    margin-bottom: 0;
}
.services p {
    font-size: 24px;
    color: $color-medium;
    
}